In [8]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [11]:
df = pd.read_csv("../data/percentage_origin_names_municipality_classified_by_secondsurname.csv")
df.head()

,uf_mun_x,total,AFR,ASI,EST,FRC,GER,GRE,IBR,ITA,JEW,MUS,NOR,RUS
0,AC_ACRELANDIA,11269,0.2573,0.8608,0.0532,2.2451,0.8253,0.0355,95.2968,0.2218,0.0000,0.1509,0.0444,0.0089
1,AC_ASSIS BRASIL,7465,0.1206,1.0449,0.0000,1.7950,0.2545,0.0268,95.5928,0.8707,0.0134,0.2411,0.0134,0.0268
2,AC_BRASILEIA,36315,3.0180,1.8587,0.0909,18.4194,3.3512,0.0441,71.8463,0.4186,0.1597,0.6554,0.1019,0.0358
3,AC_BUJARI,6946,0.2160,0.6766,0.0144,0.9070,0.4175,0.0144,97.4950,0.1008,0.0000,0.1296,0.0288,0.0000
4,AC_CAPIXABA,6317,0.1900,0.9023,0.0158,0.8073,0.3324,0.0158,97.3088,0.2216,0.0000,0.1741,0.0158,0.0158

In [10]:
polygon = gpd.read_file(r'E:\mono\ibge\geo\municipios_2010.shp')
polygon['populacao'] = polygon['populacao'].astype(int)
polygon['pib'] = polygon['pib'].astype(int)
polygon['pib_percapita'] = polygon['pib']/polygon['populacao']
polygon['log_pib_percapita'] = np.log(polygon['pib_percapita'])
polygon['codigo_ibg']=polygon['codigo_ibg'].fillna(0).astype(int)
polygon.sort_values(by=['pib_percapita'],ascending=False).head(5)

,id,nome,uf,populacao,pib,estado_id,codigo_ibg,geometry,pib_percapita,log_pib_percapita
4510,559,São Francisco do Conde,BA,33183,9848259,5,2929206,"POLYGON ((-38.64788 -12.56690, -38.64348 -12.5...",296.786276,5.693012
2359,3649,Porto Real,RJ,16592,4820284,19,3304110,"POLYGON ((-44.27402 -22.40580, -44.27666 -22.4...",290.518563,5.671667
2375,5091,Louveira,SP,37125,8914891,26,3527306,"POLYGON ((-46.90959 -23.05695, -46.90398 -23.0...",240.131744,5.481188
363,1543,Confins,MG,5936,1424974,11,3117876,"POLYGON ((-43.94119 -19.66307, -43.94450 -19.6...",240.056267,5.480873
3652,4378,Triunfo,RS,25793,5777746,23,4322004,"POLYGON ((-51.56618 -29.77937, -51.55790 -29.7...",224.004420,5.411666